// Define our primary styles
$primaryColour:#002f24 !default;
$secondaryColour:#002e21 !default;
$colorDark:#000000 !default;
$baseFontSize: 16px !default;

// in our restaurant theme file
$primaryColour:#ffffff;
$secondaryColour:#000000;
$colorDark:#090909;
$baseFontSize: 14px;