/* DOCUMENT INFORMATION
- Document: Core Theme
- Version:  1.0.0
- Author:   The Hideout
*/

// Theme specific variables and styles go in this file.

// Theme specific variables
$primaryColour:#939382; 
$secondaryColour:#009473;
$colorDark:#000000;
$colorLight:#f7f7f7;

// Body Font
$bodyFont: 18px;
$bodyFontMobile: 14px;

// Header
$logoWidth: 384px;

// Button
$buttonFont: $fontBody;
$buttonText: $primaryColour;
$buttonBackground: none;
$buttonHover: $colorLight;
$buttonFontSize: 18px;

//*******
// Font Family
// ******

@font-face{
	// Font faces added here 
}

// Import basic theme
@import '../main';